@import "tailwindcss";

:root {
  /* Fundo quase preto total e cards para alta performance no modo escuro FORÇADO */
  --background: #050505;
  --foreground: #ededed;
  --race-volt: #ccff00;
  --race-card: #121212;
  --race-gray: #252525;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  /* Conectando as cores de elite ao Tailwind */
  --color-race-volt: var(--race-volt);
  --color-race-card: var(--race-card);
  --color-race-gray: var(--race-gray);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* 👇 CLASSES PARA A MAGIA DO FLIP CARD 3D 👇 */
.perspective-\[1000px\] { 
  perspective: 1000px; 
}

.transform-3d { 
  transform-style: preserve-3d; 
}

.backface-hidden { 
  backface-visibility: hidden; 
}